DANE support looks incomplete/incorrect.

# Describe the bug

- DANE-TA(2) incorrectly requires chaining to a PKIX root CA. Of course the chain still needs to be verified, but only up to a CA (typically intermediate) that matches one of the DANE-TA(2) records.
- PKIX-TA(0) is undefined for SMTP and should not be used
- PKIX-EE(1) is undefined for SMTP and should not be used
- TLSA record usability check does not restrict the `selector` to Cert(0) or SPKI(1)
- Many domains have working DNSSEC for "A" record lookups, but flunk AAAA denial of existence, DANE should still proceed for the IPv4 connection. Or more generally, when *either* IPv4 or IPv6 lookups validate, rather than both.
- That said, it seems that AuthLookupHost is simply never called, which means that DANE is attempted for hosts that have insecure A/AAAA records despite RFC7672, which means no mail to any domains (e.g. nist.gov) hosted by mail.protection.outlook.com.
- Furthermore, when the MX host is a CNAME, the target zone may be unsigned, but the original zone may nevertheless be signed and have signed TLSA RRs, a followup query of type CNAME is required to disambiguate.

>* PKIX-TA(0) is undefined for SMTP and should not be used
>* PKIX-EE(1) is undefined for SMTP and should not be used

RFC 7672:
>As with any other unsupported certificate usage, SMTP clients MAY treat such records as "unusable".

maddy supporting PKIX-TA and PKIX-EE is not breaking the specification, but nonetheless as explained above in RFC text (Section 3.1.3) this support is useless and I will remove it to simplify DANE code that certainly needs more work.

Thanks for your work reviewing current implementation.
[`dane`](https://github.com/foxcpp/maddy/tree/dane) branch is created for any WIP DANE changes. 

Related: https://github.com/foxcpp/maddy/issues/287

On the second thought, on PKIX-EE/TA RFC 7672 says that "SHOULD NOT be used" and "MAY be treated as unusable", that is, it is not undefined, it is just discouraged. 

According to https://secspider.net/stats.html, however, PKIX records are used and deciding to not support them may be harmful for interoperability. 



>Furthermore, when the MX host is a CNAME, the target zone may be unsigned, but the original zone may nevertheless be signed and have signed TLSA RRs, a followup query of type CNAME is required to disambiguate.

I seem to be missing something here:
~~RFC 7672 says A/AAAA lookup should be done and if result is unsigned - no further lookups should be done. But if MX host is CNAME'd to an unsigned zone then A/AAAA lookup will also produce an unsigned answer meaning that TLSA lookup will not be run in the first place. If you mean CNAME lookup should be done there to check if CNAME itself is signed - I tried running `dig CNAME nist-gov.mail.protection.outlook.com` and it produced SERVFAIL due to NS returning NOTIMP for CNAME queries. How DANE code is supposed to disambiguate this? Such CNAME record also would be returned together with the initial response to A/AAAA lookup in this case, but there does not seem to be a way to determine if it is signed or not.~~

Oh, I see. It is possible to check whether it is a CNAME by looking at A/AAAA response. 

> On the second thought, on PKIX-EE/TA RFC 7672 says that "SHOULD NOT be used" and "MAY be treated as unusable", that is, it is not undefined, it is just discouraged.
> 
> According to https://secspider.net/stats.html, however, PKIX records are used and deciding to not support them may be harmful for interoperability.

Secspider is outdated and has poor coverage.  There are only 20 SMTP domains with PKIX usages and some of them are wrong, that's out of 2.3 million domains with DANE TLSA RRs. See section 1.1.3 of RFC7672.

DO NOT support PKIX records they're too fragile and are NOT used with SMTP.

> Oh, I see. It is possible to check whether it is a CNAME by looking at A/AAAA response.

Correct. If the MX hostname (despite RFC5321) is a CNAME, then the owner of the A/AAAA RRset will be different from the qname, and the response will contain a chain of CNAMEs connecting the two.  The AD bit will be set *only* if all the CNAMEs and the final A/AAAA RRset is signed.  If the AD bit is not set, then it may still be the case that the initial CNAME was signed, but subsequent records are not...

I pushed new implementation of TLSA lookup and validation code along with tests for everything. That should make it actually RFC7672 conformant. If you want - you can take a look. Thanks again for your expertise.

Merged `dane` into master. I believe it is good to go.