dns: Ignore AD flag from non-localhost resolvers

Section 4.9.3 of RFC 4035:
>      ... a security-aware stub resolver MUST NOT place any reliance on
>      signature validation allegedly performed on its behalf, except
>      when the security-aware stub resolver obtained the data in
>      question from a trusted security-aware recursive name server via a
>      secure channel.